.root{
    -fx-background-color: #383878;

}

.blackButton{
    -fx-background-color: #000000;
    /*Ok so that color doesn't make any sense at all yet. 
    */
}
.whiteButton{
    -fx-background-color:#ffffff;
}
.greenButton{
    -fx-background-color:#3fff20;
    /*This is a greenish color*/
}
.redButton{/*I think this one worked quite well...*/
    -fx-background-color: #bf1010;
}